<header class="mt-5" >
    <h2 class="title" >
        LISTADO DE PACIENTES
    </h2>
</header>
<article class="container-fluid">
    <section class="row ">
        <form class="col-md-7 mt-2 span-2"> 
            <input autofocus type="text" name="filterPost" placeholder="Buscar" class="input-text" id="buscador" [(ngModel)]="txtSearchPaciente"  (keyup)="filterPacientes()"  >
        </form>
    </section>
    <section class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-md-12 mt-5">
                <div class="card" style="border-radius: 30px;">
                    <div class="card-header header" style="border-top-left-radius: 24px;
                            border-top-right-radius: 24px;">
                        <div class="row">
                            <div class="col-md-3 text_header">
                                <h4>NOMBRE</h4>
                            </div>
                            <div class="col text_header">
                                <h4>CURP</h4>
                            </div>
                            <div class="col text_header">
                                <h4>GÉNERO</h4>
                            </div>
                            <div class="col text_header">
                                <h4>EDAD</h4>
                            </div>
                            <div class="col text_header">
                                <h4>ID</h4>
                            </div>
        
                            <div class="col text_header" >
                                <h4>
                                    ACCIONES

                                </h4>
                            </div>
                        </div>
                    </div>


                    <div class="card-body table-hover" style="background-color: #ffffff; border-radius: 0px 0px 30px 30px;" >
                        <div *ngFor="let paciente of pacientes | paginate:{id:'listaEstudio',
                        itemsPerPage: 6 ,
                        currentPage:pagina,
                        totalItems:listaEstudio} ">
                            <div class="row">
                                <div class="col-md-2">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ paciente.nombrePaciente}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>

                                <div class="col">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ paciente.curp}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>
                                <div class="col">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ paciente.genero}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>
                                <div class="col">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ paciente.edad}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>

                                <div class="col">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ paciente._id}}
                                        
                                    </label>
                                </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <label class="btn btn-outline-success">
                                                    
                                                        <!-- (click)="editarServicio(SiService._id)"
                                                        (click)="delete(SiService._id)" -->
                                                    
                                                    <i class="fas fa-edit"></i>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label class="btn btn-outline-danger" >
                                                    <i class="fas fa-trash-alt"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="offset-md-4">
<!-- 
                            <pagination-controls class="my-pagination" [autoHide]="false" previousLabel="Anterior" nextLabel="Siguiente" [maxSize]="5"  (pageChange)="pagina = $event"></pagination-controls> -->
                            
                        </div>
        
        
                    </div>
                

                </div>
            </div>
        

        
    </div>

    </section>
</article>
