.img-responsive{
    max-width: 20%;
}

.card{
    height: 170px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}


.title-user{
    font-size: 1.2rem;
}

.col-name-user {
    
    border-right: 2px solid #E5E5E5;
}
