<nav class="row card">
    <div class="col-md-7">

        <a class="nav-link" [routerLink]="['/']">
            <img class="img-responsive" src="../../../../../assets/images/saludVida.jpeg" alt="logo salud y vida">
        </a>
        
        </div>
    
    <div class="col-md-3">
        <div class="row mt-5">
            <div class="col-md-7 col-name-user">
                <h5 class="title-user" > BIENVENIDO(A): JUAN  </h5>
            </div>
            <div class="col-md-5" style="text-align: end;">
    
                <button type="button" class="btn btn-link">CERRAR SESIÓN </button>
        
            </div>
    
        </div>
    </div>
</nav>
