<article class="container-fluid">
    <section class="row">
        
        
        <div class="card margin-top" id="card">
            <h2 class="principal-title-login" > Registro de estudios</h2>
            <div class="container mt-5">
            <form [formGroup]="forma" (ngSubmit)="guardar()">

                <div class="form-group">
                    <input type="text" min="1" maxlength="100" name="ESTUDIO" id="ESTUDIO" class="form-control title-estudio input-text" placeholder="Nombre del estudio o servicio" formControlName="ESTUDIO">
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="PRECIO_PUBLICO"> Precio público: </label>
                        <input type="number" ng-maxlength="6" min="1" pattern="\d*" max="900000" name="PRECIO_PUBLICO" id="PRECIO_PUBLICO" class="form-control input-text" placeholder="Precio público" formControlName="PRECIO_PUBLICO">
                    </div>
                    <!-- <div class="col-md-6">
                        <label for="PRECIO_MEMBRESIA"> Precio membresía: </label>
                        <input type="number" min="1" max="900000" name="PRECIO_MEMBRESIA" id="PRECIO_MEMBRESIA" class="form-control input-text" placeholder="Precio membresia" formControlName="PRECIO_MEMBRESIA">
                    </div> -->
                </div>
                <div class="row mt-4">
                    <button type="submit" class="btn btn-login btn-block " [disabled]="forma.invalid ">  Enviar </button>

                </div>
            </form>
        </div>
    </div>

    </section>
</article>


<!-- Copyright

                <div class="form-row">
                    <div class="col">
                        <label for="PRECIO_PUBLICO_URGENCIA ">Precio público urgencia:</label>
                        <input type="number" min="1" max="900000" name="PRECIO_PUBLICO_URGENCIA " id="PRECIO_PUBLICO_URGENCIA " placeholder="Precio publico urgencia" class="form-control" formControlName="PRECIO_PUBLICO_URGENCIA">
                    </div>
                    <div class="col">
                        <label for="PRECIO_MEMBRESIA_URGENCIA ">Precio membresía urgencia:</label>
                        <input type="number" min="1" name="PRECIO_MEMBRESIA_URGENCIA " id="PRECIO_MEMBRESIA_URGENCIA " placeholder="Precio membresia urgencia" class="form-control " formControlName="PRECIO_MEMBRESIA_URGENCIA">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="PRECIO_PUBLICO_HOSPITALIZACION ">Precio público hospitalización:</label>
                        <input type="number" min="1" max="900000" name="PRECIO_PUBLICO_HOSPITALIZACION " id="PRECIO_PUBLICO_HOSPITALIZACION " placeholder="Precio público hospitalización" class="form-control " formControlName="PRECIO_PUBLICO_HOSPITALIZACION">
                    </div>
                    <div class="col">
                        <label for="PRECIO_MEMBRESIA_HOSPITALIZACION ">Precio membresía hospitalización:</label>
                        <input type="number" min="1" max="900000" name="PRECIO_MEMBRESIA_HOSPITALIZACION " id="PRECIO_MEMBRESIA_HOSPITALIZACION " placeholder="Precio membresia hospitalización" class="form-control " formControlName="PRECIO_MEMBRESIA_HOSPITALIZACION">
                    </div>
                </div>
-->