.login-top{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}


form{
    padding: 2%;
    width: 100%;
}

h1{
    font-weight: 700;
}

form > input {
    margin-bottom: 1%;
}

.margin-top-card-login{
    margin-top: 20%;
}

label {
    font-size: 2rem;
    
}


input[type="text"],
input[type="password"],
input[type="submit"] {
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 15 !important;
    padding: 2px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.5rem;
}

.margin-card-form-login{
    margin-left: 20%;
}


.img-responsive {
    max-width: 100%;
    margin-left: 3%;
    margin-top:3%;
}