<section class="container-fluid">
    <article class="row">
        <div class="col-md-6 margin-card-form-login">
            <div class="card margin-top-card-login">
                <div class="row login-top">
                    <div class="col-md-6">
                        <img class="img-responsive" src="../../../assets/images/saludVida.jpeg" alt="laboratorios">
                    </div>
                    <div class="col-md-6">
                        <div class="article">
                            <form #f="ngForm" (ngSubmit)="registrar(f)">
                            <h1 class="text-center principal-title-login" >INICIAR SESION</h1>
                                <div class="row">
                                    <div class="col-md-12 mb-3 ">
                                        <label for="txtUsuario" class="title-login"> Usuario: </label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="usuario" ngModel placeholder="Ingresa tu usuario"  required maxlength="50" class="input-text">

                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <label for="txtPassword" class="title-login" > Contraseña </label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="password" name="password" ngModel placeholder="Ingresa tu contraseña" maxlength="50" required class="input-text">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <button type="submit" class="btn-login"> Ingresar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


<section>

    <ngx-spinner  size = "large" color = "rgb(0,172,216)" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Iniciando... </p></ngx-spinner>
</section>