<header class="mt-5" >
    <h2 class="title" >
        LISTADO DE ESTUDIOS
    </h2>
</header>
<article class="container">
    <section class="row ">
        <form class="col-md-7 mt-2" > 
            <input type="text" name="filterPost" placeholder="Buscar" class="input-text" id="buscador" (keyup)="buscarEstudio()"  [(ngModel)]="txtBuscarEstudios" >
        </form>
    </section>
    <section class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card" style="border-radius: 30px;">
                    <div class="card-header header" style="border-top-left-radius: 24px;
                            border-top-right-radius: 24px;">
                        <div class="row">
                            <div class="col-md-3 text_header">
                                <h4>ESTUDIO</h4>
                            </div>
                            <div class="col text_header">
                                <h4>PRECIO</h4>
                            </div>
                            <!-- 
                            <div class="col text_header">
                                <p *ngIf="membresia != true">PRECIO URGENCIA</p>
                                <p *ngIf="membresia"> PRECIO MEMBRESÍA URGENCIA </p>
                            </div>
                             <div class="col text_header" *ngIf="servicios != 'laboratorio'">
                                <p *ngIf="membresia != true">PRECIO HOSPITALIZACIÓN</p>
                                <p *ngIf="membresia">PRECIO MEMBRESÍA HOSPITALIZACIÓN</p>
                            </div>
                            <div class="col text_header" *ngIf="membresia">
                                <p>PRECIO MEMBRESÍA HOSPITALIZACION URGENCIA</p>
                            </div> 

                            *ngIf="RoleUser == 'Admin' "
                            -->
        
                            <div class="col text_header" >
                                <h4>
                                    ACCIONES

                                </h4>
                            </div>
                        </div>
                    </div>


                    <div class="card-body" style="background-color: #ffffff; border-radius: 0px 0px 30px 30px;" >
                        <div *ngFor="let estudio of estudios | paginate:{id:'listaEstudio',
                        itemsPerPage: 6 ,
                        currentPage:pagina,
                        totalItems:listaEstudio} ">
                            <div class="row">
                                <div class="col-md-3">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ estudio.ESTUDIO}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>

                                <div class="col-md-3">
                                    <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                    
                                            
                                            {{ estudio.PRECIO_PUBLICO}}
    
                                            <!-- *ngIf="RoleUser =='Admin'" -->
                                        
                                    </label>
                                </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <label class="btn btn-outline-success">
                                                    
                                                        <!-- (click)="editarServicio(SiService._id)"
                                                        (click)="delete(SiService._id)" -->
                                                    
                                                    <i class="fas fa-edit"></i>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label class="btn btn-outline-danger" >
                                                    <i class="fas fa-trash-alt"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                        <div class="offset-md-4">

                            <pagination-controls class="my-pagination" [autoHide]="false" previousLabel="Anterior" nextLabel="Siguiente" [maxSize]="5"  (pageChange)="pagina = $event"></pagination-controls>
                        </div>
        
                        <!-- 

                            | paginate:{id:'listaAmbulancia',
                        itemsPerPage: 4 ,
                        currentPage:pagina,
                        totalItems:totalAmbulancia}
                            
                                                <div class="row">
                            <div class="col-md-3">
                                <label style="margin-right: 50px; margin-top: 14px; overflow-wrap: break-word;"> 
                                
                                        
                                        {{ SiService.ESTUDIO}}

                                        *ngIf="RoleUser =='Admin'"
                                    
                                </label>
                            </div>
        
                            
                            <div class="col" >
                                <div class="row">
                                    <div class="col">
                                        <label class="btn btn-outline-success">
                                            
                                                (click)="editarServicio(SiService._id)"
                                                (click)="delete(SiService._id)"
                                            
                                            <i class="fas fa-edit"></i>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="btn btn-outline-danger" >
                                            <i class="fas fa-trash-alt"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
        
                    </div>
                    <!-- 
                        <div class="offset-md-2">
                        <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listaAmbulancia" maxSize="10" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                    </div>
                    -->

                </div>
            </div>
        
            <!--
            <div class="col-md-3">
                <div class="card" style="margin: 10px; height: 33em; border-radius: 24px;">
        
                    <div class="card-title" style="border-bottom-style: solid;">
                        <h4 style="text-align: center;">COTIZACIÓN</h4>
                    </div>
        
                    <div class="card-body" style="overflow: auto; ">
                        <div class="row" *ngFor="let pedido of carrito.items; let i=index">
                            <div class="col-md-8" *ngIf="pedido !== [];">
                                <p style="font-size: 10px; font-weight: 600; text-align: center;" *ngIf="membresia != true">
                                    {{ pedido.nombreEstudio }} : {{ pedido.precioSin}}
                                </p>
                                <p style="font-size: 10px; font-weight: 600; text-align: center;" *ngIf="membresia">
                                    {{ pedido.nombreEstudio }} : {{ pedido.precioCon}}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label class="btn" (click)="eliminar(i)">
                                    <i class="fas fa-trash-alt" id="elimi"></i>
                                </label>
                                <button type="button" (click)="eliminar(i)" class="btn btn-link" style="color: red;">
        
                                    Eliminar
                                </button> 
                            </div>
                        </div> 
                        ngIf=validarCarrito()
                        <div>
                            <p>No cuentas con servicios en el carrito</p>
                        </div>
                    -->

                    
        
                    <!--
                    <div class="card-footer" style="border-top-style: solid;">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 15px; font-weight: 800;" *ngIf="membresia != true">Total: &#36; {{carrito.totalSin}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 15px; font-weight: 800;">Total membresía: &#36; {{ carrito.totalCon}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h5 style="font-size: 1.2rem; font-weight: 800;" class="ahorro"> Ahorro: &#36; {{carrito.totalSin - carrito.totalCon}}</h5>
                            </div>
                        </div>
        
                         <button *ngIf="btnPago" type="button" class="btn btn-success btn-block btn-tarjeta" [routerLink]="['/pago/servicios']">
                            <i class="fas fa-hand-holding-usd"></i>
                                Pagar
                        </button> 
                        <button *ngIf="btnPago" type="button" class="btn btn-success btn-block btn-tarjeta" (click)="onClick()">
                            <i class="fas fa-hand-holding-usd"></i>
                                Pagar
                        </button>
        
                        <button *ngIf="btnImpPago" type="button" class="btn btn-success btn-block btn-tarjeta" (click)="imprimirCotizacion(carrito)">
                            <i class="fas fa-hand-holding-usd"></i>
                                Imprimir cotización
                        </button>
        
                        <button class="btn btn-dark btn-tarjeta btn-block" [routerLink]="['/paciente']" routerLinkActive="router-link-active" *ngIf="RoleUser == 'Admin' ">
                            <i class="fas fa-user-plus"></i>
                                Nuevo
                        </button>
        
        
                        <button *ngIf="!btnPago" class="btn btn-block btn-info  btn-tarjeta" (click)="abrirInputCorreo()">
                            <i class="fas fa-share-alt"></i>
                                Enviar
                        </button>

                    </div>
                </div>
            </div>
        -->
        
    </div>

    </section>
</article>
