.card{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

h4{
    font-size:1.2rem;
}

pagination-controls {
    color: #00acd8;
    /* text-align: center; */
}
.my-pagination ::ng-deep .ngx-pagination .current {
    background: #00acd8;
}