.card {
    border-radius: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
    border-radius: 1.35rem !important;
}


.title-login {
    color: #001672;
    text-align: left;
    margin-bottom: 15px;
}

/*
    usar esta clase para los titulos principales
*/
.principal-title-login{
    font-weight: 650;
    font-size: 2.6rem;
    text-align: center !important;
    color: #001672;    
}


.btn-login {
    background-color: #00ACD8;
    border: 1px solid rgba(112, 112, 112, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0.3rem;
    color: white;
    width: 100%;
    font-size: 1.3rem;
}

.input-text {

    width: 100%;
    border: none;
    height: auto;
    box-shadow: 2px 2px 20px 6px rgba(196, 192, 196, 1);
    outline:none;
    border-radius: 20px;
    padding: 7px;

}

.card-header{
    background-color: #00acd8;
    border-top-left-radius: 1.35rem;
    border-top-right-radius: 1.35rem;
    color: #ffffff;
}



.title {
    text-align: left;
    font-size: 3.5rem;
    font-weight: 600;
    color: #686A8F;
    font-style: italic;
    margin-left: 3rem;
}