<div class="card margin-top" style="border-radius: 30px; margin-left: 25px">
    <form [formGroup]='registroForm' #registroNgform='ngForm'>
                <h3 class="title" >PERSONALES</h3>
                <div class="row">
                    <div class="col-md-3">
                      <label> NOMBRES (S) </label>
                    </div>
                    <div class="col-md-3">
                      <input
                        matInput
                        maxlength="50"
                        type="text"
                        required
                        name="nombrePaciente"
                        [formControlName]="'nombrePaciente'"
                        id="nombre"
                        class="input-text mayusculas"
                      />
                    </div>
          
                    <div class="col-md-3">
                      <label for="apellidoPaterno"> APELLIDO PATERNO </label>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="text"
                        maxlength="70"
                        [formControlName]="'apellidoPaterno'"
                        required
                        
                        name="apellidoPaterno"
                        id="apellidoPaterno"
                        class="input-text mayusculas"
                      />
                    </div>
          
                    <div class="col-md-3">
                      <label for="apellidoMaterno"> APELLIDO MATERNO </label>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="text"
                        maxlength="70"
                        required
                        [formControlName]="'apellidoMaterno'"
                        name="apellidoMaterno"
                        id="apellidoMaterno"
                        class="input-text mayusculas"
                      />
                    </div>
          
                    <div class="col-md-3">
                      <label for="fechaNacimiento"> FECHA DE NACIMIENTO </label>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="date"
                        #edadForm
                        [formControlName]="'fechaNacimientoPaciente'"
                        name="fechaNacimientoPaciente"
                        id="fechaNacimientoPaciente"
                        class="input-text mayusculas"
                      />
                    </div>
          
                    <div class="col-md-3">
                      <label for="edad"> EDAD</label>
                    </div>
                    <div class="col-md-3">
                      <input
                        type="number"
                        min="0"
                        max="150"
                        [formControlName]="'edad'"
                        name="edad"
                        id="edad"
                        class="input-text"
                      />
                    </div>
          
                    <div class="col-md-3">
                      <label for="genero"> GÉNERO </label>
                    </div>
                    <div class="col-md-3">
                      <select
                        name="genero"
                        required
                        [formControlName]="'genero'"
                        id="genero"
                        class="input-text"
                      >
                        <option value="SELECCIONE" selected>---Seleccione---</option>
                        <option value="FEMENINO">FEMENINO</option>
                        <option value="MASCULINO">MASCULINO</option>
                      </select>
                    </div>
                              
                </div>
                <div class="center mt-5">
                    <button [disabled]="!registroForm.valid" class="btn-login" (click)="nuevoDisponente()">
                      Agregar
                    </button>
                </div>
    </form>
</div>
<div>
  <app-sppiner></app-sppiner>
</div>