.margin-top{
    margin-top: 10%;
}

.card{
    padding: 30px;
}


.title{
    margin-bottom:1.2em;
}

.input-text {
    border-radius: 20px;
    padding: 5px;
    margin-top: 15px;
}

label {
    font-weight: 600;
}